################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Thiago/Studies/BenchmarkDotNet.Artifacts
